.menu-button {
	background: #000;
	border: 4px solid #fff;
	border-radius: 50%;
	bottom: 0;
	box-shadow: 0 0 24px rgba(58, 58, 58 , 0.6);
	display: block;
	height: 36px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100px;
	white-space: nowrap;
	z-index: 9999;
	background-image: linear-gradient(#db3a2b, #cf0404);
	-webkit-background-image: linear-gradient(#db3a2b, #cf0404);
	-moz-background-image: linear-gradient(#db3a2b, #cf0404);
}

.menu-button span {
	background: url(../img/cross.png) no-repeat center center ;
	display: block;
	height: 36px;
	width: 36px;
	transition: 0.3s ease;
	-webkit-transition:  0.3s ease;
	--moz-transition:  0.3s ease;
}

.active .menu-button span {
	-webkit-transform:  rotate(-135deg);
   -moz-transform:  rotate(-135deg);
    transform: rotate(-135deg);
}